[Unit]
Description=A lightweight DHCP and caching DNS server for wireless interface guests
After=hostapd-wifiguests.service

[Service]
Type=simple
ExecStartPre=/usr/sbin/dnsmasq --test --conf-file=/etc/dnsmasq-wifiguests.conf
ExecStart=/usr/sbin/dnsmasq --conf-file=/etc/dnsmasq-wifiguests.conf -k --user=dnsmasq --group=dnsmasq --pid-file=/var/run/dnsmasq-wifiguests.pid
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
