[Unit]
Description=Hostapd IEEE 802.11 AP
After=hostapd-network.service

[Service]
ExecStart=/usr/sbin/hostapd /etc/hostapd/hostapd-wifi.conf
CPUSchedulingPolicy=fifo
#CPUSchedulingPriority=40
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
